.wpcf7-form input[type="text"] {
    box-sizing: border-box;
    margin: 5px 0 0;
    max-width: 100%;
    width: 400px;
}
.wpcf7-form textarea {
    box-sizing: border-box;
    margin: 5px 0 0;
    max-width: 100%;
    width: 100%;
}
.wpcf7-form select {
    box-sizing: border-box;
    margin: 5px 0 0;
    max-width: 100%;
    padding: 8px;
    width: 400px;
}
.wpcf7-form input[type="checkbox"] {
    width: auto;
}
.wpcf7 form.wpcf7-form p {
    font-weight: bold;
    margin: 0 0 20px !important;
}
.wpcf7-list-item-label {
    font-weight: normal;
}
.wpcf7-response-output {
    display: none;
}
.wpcf7-form .invalid {
    color: #bf1515 !important;
}
.wpcf7-not-valid {
    border: 1px solid #bf1515 !important;
}
.wpcf7 span.wpcf7-not-valid-tip {
    display: none;
}
div.wpcf7-response-output {
    margin: 0 !important;
    padding: 5px 10px !important;
}
div.wpcf7-mail-sent-ok, div.wpcf7-mail-sent-ng, div.wpcf7-spam-blocked, div.wpcf7-validation-errors {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(center bottom , #f7f7f7 0%, #ffffff 100%);
    border: 1px solid #ddd !important;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 40px !important;
    position: relative;
    text-align: center;
}
div.wpcf7-mail-sent-ok {
    background-color: #e9f2d2;
    background-image: -moz-linear-gradient(center bottom , #e9f2d2 0%, #ffffff 100%);
    border-color: #c0da66 !important;
    color: #88b12b;
}
div.wpcf7-mail-sent-ng {
    background-color: #ffe9e9;
    background-image: -moz-linear-gradient(center bottom , #ffe9e9 0%, #ffffff 100%);
    border-color: #e99f9f !important;
    color: #d25c5a;
}
div.wpcf7-spam-blocked {
    background-color: #fbf6e3;
    background-image: -moz-linear-gradient(center bottom , #fbf6e3 0%, #ffffff 100%);
    border-color: #efd877 !important;
    color: #c4a80a;
}
div.wpcf7-validation-errors {
    background-color: #fbf6e3;
    background-image: -moz-linear-gradient(center bottom , #fbf6e3 0%, #ffffff 100%);
    border-color: #efd877 !important;
    color: #c4a80a;
}
